.BlockInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  top: 0px;
  right: 0px; }
  .BlockInfo .BlockMatrix {
    display: inline-flex;
    border-radius: 5px;
    background: none; }
