$bmWidthRatio  : 1;
$bmHeightRatio : 2.2;
$size : 300px;

.BlockMatrix {
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 23%, rgba(9,9,121,1) 60%, rgba(0,212,255,1) 100%);
    /*width: $bmWidthRatio * $size;
    height: $bmHeightRatio * $size;*/
    display: flex;
    flex-wrap: wrap;
}