$bmWidthRatio  : 1;
$bmHeightRatio : 2.2;
$size : 300px;

.BlockMatrix {
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 21%,#7db9e8 100%);
    display: flex;
    flex-wrap: wrap;
}